#menu-container {
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 40px;
}

#nav-icon {
    font-size: 30px;
}

#logo {
    height: 50px;
    width: 50px;
    font-size: 50px;
    color: #091353;
    font-weight: 700;
}

#web-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

#mobile-menu {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}

.nav-button {
    font-size: 12px;
    letter-spacing: .2em;
    font-weight: 700;
    color: #091353;
    font-style: normal;
}